@model AspiceVersionListModel

@{
    ViewData["Title"] = "Automotive SPICE versions";
    var headerModel = new ListHeaderViewModel { Message = "List of Automotive SPICE versions.", Path = "/Setting/AspiceVersion/Add", Button = "Create new", CssClass = "fa-plus" };
    var editModel = new ResultViewModel { Color = "black", CssClass = "fa-edit", Message = "Edit Automotive SPICE version" };
}

<partial name="Partials/_ErrorTable" />

<partial name="Partials/_ListHead" model="@headerModel" />

@Html.AntiForgeryToken()

<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Version number</th>
            <th scope="col">Release date</th>
            <th scope="col">Description</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @if (Model.AspiceVersions != null && Model.AspiceVersions.Count > 0)
        {
            @foreach (var item in Model.AspiceVersions)
            {
                <tr>
                    <th scope="row">@item.Id</th>
                    <td>@item.VersionNumber</td>
                    <td>@item.ReleaseDate.ToShortDateString()</td>
                    <td>@item.Description</td>
                    <td scope="col">
                        <a href="/Setting/AspiceVersion/Edit/@item.Id">
                            <partial name="Partials/_Icon" model="@editModel" />
                        </a>
                        @{ string endpoint = $"../Setting/AspiceVersion/Delete/{item.Id}"; }
                        <span class="fas fa-trash-alt pointer" title="Delete Automotive SPICE version" onclick="javascript: deleteItem('@endpoint')"></span>
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <th scope="row" colspan="5" class="text-center">There is no Automotive SPICE version!</th>
            </tr>
        }
    </tbody>
</table>

<script src="~/js/dataWork.js" asp-append-version="true"></script>