@model ProjectListModel

@{
    ViewData["Title"] = "Projects";
    bool admin = User.IsAdmin();
    var headerModel = new ListHeaderViewModel
    {
        Message = admin ? "List of all company's projects." : "List of project, which you are member.",
        Path = "/Project/Add",
        Button = "Create new project",
        CssClass = "fa-plus"
    };
    var editModel = new ResultViewModel { Color = "black", CssClass = "fa-edit", Message = "Edit project" };
}

<partial name="Partials/_ErrorTable" />

<partial name="Partials/_ListHead" model="@headerModel" />

@Html.AntiForgeryToken()

<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Creation date</th>
            <th scope="col">Metrics count</th>
            <th scope="col">Users count</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Projects != null && Model.Projects.Count > 0)
        {
            @foreach (var item in Model.Projects)
            {
                <tr>
                    <th scope="row">@item.Id</th>
                    <td>@item.Name</td>
                    <td>@item.CreateDate</td>
                    <td>
                        <a href="/Project/Metric/@item.Id" title="List of projects's metrics">
                            @item.ProjectMetricsCount
                        </a>
                    </td>
                    <td>
                        <a href="/Project/User/@item.Id" title="List of projects's users">
                            @item.ProjectUsersCount
                        </a>
                    </td>
                    <td scope="col">
                        @if (admin)
                        {
                            <a href="/Project/Edit/@item.Id">
                                <partial name="Partials/_Icon" model="@editModel" />
                            </a>
                            <span class="fas fa-trash-alt pointer" title="Delete project" onclick="javascript: deleteItem('/Project/Delete/@item.Id')"></span>
                        }
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <th scope="row" colspan="6" class="text-center">There are no projects you are participating!</th>
            </tr>
        }
    </tbody>
</table>

<script src="~/js/dataWork.js" asp-append-version="true"></script>

