@model AffectedFieldListModel

@{
    ViewData["Title"] = "Affected fields";
    var headerModel = new ListHeaderViewModel { Message = "List of metric affected fields.", Path = "/Setting/AffectedField/Add", Button = "Create new", CssClass = "fa-plus" };
    var editModel = new ResultViewModel { Color = "black", CssClass = "fa-edit", Message = "Edit affected field" };
}

<partial name="Partials/_ErrorTable" />

<partial name="Partials/_ListHead" model="@headerModel" />

@Html.AntiForgeryToken()

<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @if (Model.AffectedFields != null && Model.AffectedFields.Count > 0)
        {
            @foreach (var item in Model.AffectedFields)
            {
                <tr>
                    <th scope="row">@item.Id</th>
                    <td>@item.Name</td>
                    <td>@item.Description</td>
                    <td scope="col">
                        <a href="/Setting/AffectedField/Edit/@item.Id">
                            <partial name="Partials/_Icon" model="@editModel" />
                        </a>
                        @{ string endpoint = $"../Setting/AffectedField/Delete/{item.Id}"; }
                        <span class="fas fa-trash-alt pointer" title="Delete affected field" onclick="javascript: deleteItem('@endpoint')"></span>
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <th scope="row" colspan="4" class="text-center">There are no affected fields!</th>
            </tr>
        }
    </tbody>
</table>

<script src="~/js/dataWork.js" asp-append-version="true"></script>