@model ProjectMetricListModel

@{
    int userId = User.UserId();
    bool adminAccount = User.IsAdmin();
    ViewData["Title"] = $"Project #{Model.Id} metrics";
    var editModel = new ResultViewModel { Color = "black", CssClass = "fa-edit", Message = "Edit project metric" };
    var logModel = new ResultViewModel { Color = "black", CssClass = "fa-list-ul", Message = "Display project metric log" };
    var publicModel = new ResultViewModel { Color = "black", CssClass = "fa-users", Message = "Used metric is public!" };
    var warn = new ResultViewModel { Color = "chartreuse", CssClass = "fa-check", Message = "You have set warning" };
    var noWarn = new ResultViewModel { Color = "tomato", CssClass = "fa-times", Message = "Metric warning was not set!" };
}

<partial name="Partials/_ErrorTable" />

<div class="mb-3 d-flex flex-row justify-content-between align-items-center">
    <span>Metrics of project '@Model.Name'.</span>

    <div>
        <a href="/Project" class="btn btn-secondary">
            <span class="fa fa-arrow-left"></span>
            Back to projects
        </a>

        @if (adminAccount)
        {
            <a href="/Project/@Model.Id/Metric/Add" class="btn btn-secondary">
                <span class="fa fa-plus"></span>
                Add metric to project
            </a>
        }
    </div>
</div>

@Html.AntiForgeryToken()

<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Metric</th>
            <th scope="col">Create date</th>
            <th scope="col">Last update</th>
            <th scope="col">Warning</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Metrics != null && Model.Metrics.Count > 0)
        {
            @foreach (var item in Model.Metrics)
            {
                <tr>
                    <th scope="row">@item.ProjectMetricId</th>
                    <td>
                        @if (item.CanEdit)
                        {
                            <a href="/Setting/Metric/Edit/@item.MetricId" title="Edit metric">@item.MetricInfo</a>
                        }
                        else
                        {
                            <a href="/Setting/Metric/Detail/@item.MetricId" title="Display metric's detail">@item.MetricInfo</a>
                        }
                    </td>
                    <td>@item.CreateDate</td>
                    <td>@item.LastUpdateDate</td>
                    <td>
                        <partial name="Partials/_Icon" model="@item.Warning ? warn : noWarn" />
                    </td>
                    <td scope="col">
                        @if (adminAccount && item.CanEdit)
                        {
                            <a href="/Project/@Model.Id/Metric/Edit/@item.ProjectMetricId">
                                <partial name="Partials/_Icon" model="@editModel" />
                            </a>
                            <span class="fas fa-trash-alt pointer" title="Delete metric from project" onclick="deleteItem('/Project/@Model.Id/Metric/Delete/@item.ProjectMetricId')"></span>
                        }
                        <a href="/Project/@Model.Id/Metric/@item.ProjectMetricId/Log">
                            <partial name="Partials/_Icon" model="@logModel" />
                        </a>
                        @if (item.Public)
                        {
                            <partial name="Partials/_Icon" model="@publicModel" />
                        }
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <th scope="row" colspan="6" class="text-center">There are no project metrics!</th>
            </tr>
        }
    </tbody>
</table>
