@using WebApp.Models.Test
@model  TestViewModel

@{
    ViewBag.Title = "Test";
}

<h2>Test připojení</h2>

<br />

<h5>Připojení k API</h5>
<h6>
    @if (Model.ConnectionAPI)
    {
        @Html.Partial("Partials/_Success", new ViewDataDictionary { { "message", "Připojení je funkční" } })
    }
    else
    {
        @Html.Partial("Partials/_Failure", new ViewDataDictionary { { "message", "Připojení je nedostupné" } })
    }
    @Html.DisplayFor(m => Model.MessageAPI) @Html.Raw($"(HTTP status {Model.HTTPResposeAPI})")
</h6>

<br />

<h5>Připojení k DB</h5>
<h6>
    @if (Model.ConnectionDB)
    {
        @Html.Partial("Partials/_Success", new ViewDataDictionary { { "message", "Připojení je funkční" } })
    }
    else
    {
        @Html.Partial("Partials/_Failure", new ViewDataDictionary { { "message", "Připojení je nedostupné" } })
    }
    @Html.DisplayFor(m => Model.MessageDB)
</h6>

<br />


