@model SettingListModel

@{
    ViewData["Title"] = "App setting";
}

<partial name="Partials/_ErrorTable" />

<div class="mb-3 d-flex flex-row align-items-center">
    <span>List of application settings.</span>
</div>

@Html.AntiForgeryToken()

<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Scope</th>
            <th scope="col">Name</th>
            <th scope="col">Value</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Settings != null && Model.Settings.Count > 0)
        {
            @foreach (var item in Model.Settings)
            {
                <tr>
                    <th scope="row">@item.Id</th>
                    <td>@item.SettingScope</td>
                    <td>@item.SettingName</td>
                    <td>
                        <span>
                            @item.Value
                        </span>

                        <div id="form-@item.Id" class="d-none flex-row align-items-center">
                            <input class="form-control" id="input-@item.Id" type="text" value="@item.Value" />
                            <span class="fas fa-save pointer ml-2" style="font-size: x-large" title="Save setting's value" onclick="saveSettingValue(@item.Id)"></span>
                            <span class="fas fa-times pointer ml-2" style="font-size: x-large" title="Cancel" onclick="cancelEditing(@item.Id)"></span>
                        </div>
                    </td>
                    <td scope="col">
                        <span class="fas fa-edit pointer" id="edit-@item.Id" title="Click to edit setting's value" onclick="editSettingValue(@item.Id)"></span>
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <th scope="row" colspan="5" class="text-center">There are no application setting!</th>
            </tr>
        }
    </tbody>
</table>