<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - JazzMetrics</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.css" />
        <link rel="stylesheet" href="~/lib/font-awesome/css/all.css" />
        <link rel="stylesheet" href="~/lib/bootstrap-datepicker/css/bootstrap-datepicker.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.7.2/css/all.css"
              asp-fallback-href="~/lib/font-awesome/css/all.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/css/bootstrap-datepicker.min.css"
              asp-fallback-href="~/lib/bootstrap-datepicker/css/bootstrap-datepicker.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        @{ bool logged = User.Identity?.IsAuthenticated ?? false; }
        <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
            <ul class="navbar-nav mr-auto">
                @if (logged)
                {
                    <li class="nav-item">
                        <a class="nav-link @Html.IsSelected("Home", "Index")" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link @Html.IsSelected("Project", "")" href="/Project">Projects</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link @Html.IsSelected("Setting,User", "")" href="/Setting">Settings</a>
                    </li>
                }
            </ul>
        </div>

        <a class="navbar-brand font-weight-bolder logo-text" href="/">
            Jazz Metrics
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
            <ul class="navbar-nav ml-auto">
                @if (logged)
                {
                    <li class="nav-item">
                        <a href="/User/Detail/@User.UserId()" class="navbar-text float-right mr-4 text-white font-weight-bolder">
                            @User.GetName()
                        </a>
                    </li>
                }
                <li class="nav-item">
                    @if (logged)
                    {
                        <a href="/User/Logout" class="navbar-text text-white float-right">Logout</a>
                    }
                    else if (Context.Request.Path.ToString().ToUpper().StartsWith("/USER/LOGIN"))
                    {
                        <a href="/User/Registration" class="navbar-text text-white float-right">Registration</a>
                    }
                    else
                    {
                        <a href="/User/Login" class="navbar-text text-white float-right">Login</a>
                    }
                </li>
            </ul>
        </div>
    </nav>

    <partial name="_CookieConsentPartial" />

    <partial name="Partials/_Processing" />

    <div class="container body-content">
        <h2>@ViewData["Title"]</h2>
        <hr />

        @RenderBody()
        <hr />
        <footer>
            <p>
                &copy; 2019 - JazzMetrics - Michal Přikryl
                @if (!Context.Request.Path.ToString().ToUpper().StartsWith("/TEST"))
                {
                    <a class="float-right color-dark-grey" href="/Test">connection test</a>
                }
            </p>
        </footer>
    </div>

    <environment include="Development">
        <script src="~/lib/jquery/jquery.min.js"></script>
        <script src="~/lib/bootstrap/js/bootstrap.js"></script>
        <script src="~/lib/sweet-alert/sweetalert.min.js"></script>
        <script src="~/lib/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
        <script src="~/lib/bootstrap-datepicker/locales/bootstrap-datepicker.en-GB.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                asp-fallback-src="~/lib/jquery/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/js/bootstrap.min.js"
                crossorigin="anonymous">
        </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js"
                asp-fallback-src="~/lib/sweet-alert/sweetalert.min.js">
        </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/js/bootstrap-datepicker.min.js"
                asp-fallback-src="~/lib/bootstrap-datepicker/js/bootstrap-datepicker.min.js">
        </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/locales/bootstrap-datepicker.en-GB.min.js"
                asp-fallback-src="~/lib/bootstrap-datepicker/locales/bootstrap-datepicker.en-GB.min.js">
        </script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>

    <partial name="_ValidationScriptsPartial" />

    @RenderSection("Scripts", required: false)
</body>
</html>
