@model HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<div class="content-h1">
    <div class="col-md-12">
        <h1 class="text-center text-danger text-bold">Chyba při načtení</h1>
        <h3 class="text-center text-danger">Při načítání stránky nastala chyba, zkuste prosím načíst stránku znovu, v případě opakování kontaktujte TP+.</h3>

        @if (Model != null)
        {
            if (Model.Exception != null)
            {
                <h3 class="text-center text-danger">Ukažte jim tuto zprávu - @Model.Exception.TargetSite.DeclaringType.FullName / @Model.Exception.TargetSite.Name</h3>
                <h4 class="text-center text-danger">@Model.Exception.Message</h4>

                <span hidden id="controller_name">@Model.Exception.TargetSite.DeclaringType.Name</span>
                <span hidden id="method_name">@Model.Exception.TargetSite.Name</span>
                <span hidden id="ex_message">@Model.Exception.Message</span>
                <span hidden id="ex_type">@Model.Exception.GetType().Name</span>

                if (Model.Exception.InnerException != null)
                {
                    <h4 class="text-center text-danger">@Model.Exception.InnerException.Message</h4>

                    <span hidden id="inner_ex_message">@Model.Exception.InnerException.Message</span>
                }

                <div hidden id="message">
                    <br />
                    <br />
                    <h3 class="text-center text-success">Vývojáři byli o této chybě informování.</h3>
                </div>
            }
        }
    </div>
</div>

@Html.Partial("Partials/_Processing")

@section Scripts {
    @Scripts.Render("~/bundles/error")
}
