@model AppErrorListModel

@{
    ViewData["Title"] = "App errors";
}

<partial name="Partials/_ErrorTable" />

<div class="mb-3 d-flex flex-row align-items-center">
    <span>List of application errors.</span>
</div>

@Html.AntiForgeryToken()

<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Where</th>
            <th scope="col">When</th>
            <th scope="col">Who</th>
            <th scope="col">Message</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @if (Model.AppErrors != null && Model.AppErrors.Count > 0)
        {
            @foreach (var item in Model.AppErrors)
            {
                <tr>
                    <th scope="row">@item.Id</th>
                    <td>@item.Module/@item.Function</td>
                    <td>@item.Time</td>
                    <td>@item.AppInfo</td>
                    <td>@item.Message</td>
                    <td scope="col">
                        <div class="d-flex justify-content-between pt-1">
                            <span class="fas fa-info pointer" title="Show more information" onclick='showErrorInfo(@Html.Raw(Json.Serialize(item)))'></span>
                            @if (item.Solved)
                            {
                                <span class="fas fa-check pointer" style="color: chartreuse; font-size: larger" title="This is error is solved! Click to change." onclick="solveAppError(@item.Id, '@(!item.Solved)')"></span>
                            }
                            else
                            {
                                <span class="fas fa-times pointer" style="color: tomato; font-size: larger" title="This is error is NOT solved! Click to change." onclick="solveAppError(@item.Id, '@(!item.Solved)')"></span>
                            }

                            @{ string endpoint = $"/Setting/AppError/Delete/{item.Id}"; }
                            <span class="fas fa-trash-alt pointer" title="Delete this application error" onclick="deleteItem('@endpoint')"></span>
                        </div>
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <th scope="row" colspan="6" class="text-center">There are no application errors!</th>
            </tr>
        }
    </tbody>
</table>