@model MetricTypeListModel

@{
    ViewData["Title"] = "Metric types";
    var headerModel = new ListHeaderViewModel { Message = "List of metric types.", Path = "/Setting/MetricType/Add", Button = "Create new", CssClass = "fa-plus" };
    var editModel = new ResultViewModel { Color = "black", CssClass = "fa-edit", Message = "Edit metric type" };
}

<partial name="Partials/_ErrorTable" />

<partial name="Partials/_ListHead" model="@headerModel" />

@Html.AntiForgeryToken()

<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @if (Model.MetricTypes != null && Model.MetricTypes.Count > 0)
        {
            @foreach (var item in Model.MetricTypes)
            {
                <tr>
                    <th scope="row">@item.Id</th>
                    <td>@item.Name</td>
                    <td>@item.Description</td>
                    <td scope="col">
                        <a href="/Setting/MetricType/Edit/@item.Id">
                            <partial name="Partials/_Icon" model="@editModel" />
                        </a>
                        @{ string endpoint = $"/Setting/MetricType/Delete/{item.Id}"; }
                        <span class="fas fa-trash-alt pointer" title="Delete metric type" onclick="deleteItem('@endpoint')"></span>
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <th scope="row" colspan="4" class="text-center">There are no metric types!</th>
            </tr>
        }
    </tbody>
</table>