@model MetricDetailViewModel

@{
    bool sameCompany = Model.CompanyId == User.CompanyId();
    ViewData["Title"] = "Metric detail";
    var publicMetric = new ResultViewModel { Color = "chartreuse", CssClass = "fa-check", Message = "This metric is available to all Jazz Metrics companies." };
    var nonPublicMetric = new ResultViewModel { Color = "tomato", CssClass = "fa-times", Message = "This metric is available only for yours company." };
}

<partial name="Partials/_ErrorTable" />

<div class="mb-3 d-flex flex-row justify-content-between align-items-center">
    <span>Metric #@Model.Id detail.</span>

    <div>
        <a href="#" class="btn btn-primary" onclick="history.back()">
            <span class="fa fa-arrow-left"></span>
            Back
        </a>

        @if (sameCompany)
        {
            <a href="/Setting/Metric/Edit/@Model.Id" class="btn btn-primary">
                <span class="fa fa-edit"></span>
                Edit this metric
            </a>
        }
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="jumbotron col-12">
            <h1 class="display-3">@Model.Identificator - @Model.Name</h1>
            <p class="lead">@Model.Description</p>
            <p class="lead">This metric is managed by @Html.Raw(sameCompany ? "your company" : "different company").</p>
            <p class="lead">Public: <partial name="Partials/_Icon" model="@Model.Public ? publicMetric : nonPublicMetric" /></p>
            <hr class="my-4" />
            <p class="lead">Type: @Model.MetricType</p>
            <p class="lead">Affected field: @Model.AffectedField</p>
            <p class="lead">ASPICE process: @Model.AspiceProcess</p>
            <hr class="my-4" />
            <h4>Metric columns</h4>
            <ul class="list-group">
                @foreach (var item in Model.Columns)
                {
                    <li class="list-group-item">@item</li>
                }
            </ul>
        </div>
    </div>
</div>
