@model MetricListModel

@{
    ViewData["Title"] = "Metrics";
    var headerModel = new ListHeaderViewModel { Message = "List of Metrics.", Path = "/Setting/Metric/Add", Button = "Create new", CssClass = "fa-plus" };
    var editModel = new ResultViewModel { Color = "black", CssClass = "fa-edit", Message = "Edit Metric" };
}

<partial name="Partials/_ErrorTable" />

<partial name="Partials/_ListHead" model="@headerModel" />

@Html.AntiForgeryToken()

<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Identificator</th>
            <th scope="col">ASPICE process</th>
            <th scope="col">Metric type</th>
            <th scope="col">Affected field</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Metrics != null && Model.Metrics.Count > 0)
        {
            @foreach (var item in Model.Metrics)
            {
                <tr>
                    <th scope="row">@item.Id</th>
                    <td>@item.Name</td>
                    <td>@item.Identificator</td>
                    <td>@item.AspiceProcess</td>
                    <td>@item.MetricType</td>
                    <td>@item.AffectedField</td>
                    <td scope="col">
                        <a href="/Setting/Metric/Edit/@item.Id">
                            <partial name="Partials/_Icon" model="@editModel" />
                        </a>
                        @{ string endpoint = $"../Setting/Metric/Delete/{item.Id}"; }
                        <span class="fas fa-trash-alt pointer" title="Delete metric" onclick="javascript: deleteItem('@endpoint')"></span>
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <th scope="row" colspan="7" class="text-center">There is no metrics!</th>
            </tr>
        }
    </tbody>
</table>

<script src="~/js/dataWork.js" asp-append-version="true"></script>